#original {
    height: 600px;
    width: auto;
}

.inp_box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 10%;
}

.top_box {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.img_box {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 90%;
}

canvas {
    max-width:50%;
    max-height:300px;
    width: auto;
}
